@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	overflow: scroll;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--light);
	transition: all .3s ease;
	padding: 0 6px;
}
#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--dark);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--blue);
	color: var(--light);
}
#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: var(--blue);
}
#sidebar .ads {
	width: 100%;
	padding: 20px;
}
#sidebar.hide .ads {
	display: none;
}
#sidebar.hide:hover .ads {
	display: block;
}
#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}
#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}
#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}
#sidebar .ads .wrapper p span {
	font-weight: 700;
}

/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}

/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}

main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
	overflow: auto;
}

main .info-data .card {
	display: flex;
	flex-direction: column;
	justify-content: end;
	border-radius: 10px;
	height: 350px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}

main .one_cat_one {
	background: url('./../images/abrigo.jpg') no-repeat center;
}

main .two_cat_one {
	background: url('./../images/abrigo_01.jpg') no-repeat center;
}

main .three_cat_one {
	background: url('./../images/abrigo_02.jpg') no-repeat center;
}

main .four_cat_one {
	background: url('./../images/abrigo_03.jpg') no-repeat center;
}

main .five_cat_one {
	background: url('./../images/abrigo_04.jpg') no-repeat center;
}

main .one_cat_two {
	background: url('./../images/camiseta.png') no-repeat center;
}

main .two_cat_two {
	background: url('./../images/camiseta1.png') no-repeat center;
}

main .three_cat_two {
	background: url('./../images/camiseta2.png') no-repeat center;
}

main .four_cat_two {
	background: url('./../images/camiseta3.png') no-repeat center;
}

main .five_cat_two {
	background: url('./../images/camiseta4.png') no-repeat center;
}

main .one_cat_three {
	background: url('./../images/pantalon.jpg') no-repeat center;
}

main .two_cat_three {
	background: url('./../images/pantalon_01.jpg') no-repeat center;
}

main .three_cat_three {
	background: url('./../images/pantalon_02.jpg') no-repeat center;
}

main .four_cat_three {
	background: url('./../images/pantalon_03.jpg') no-repeat center;
}

main .five_cat_three {
	background: url('./../images/pantalon_04.jpg') no-repeat center;
}

main .card:hover {
	cursor: pointer;
	transform: scale(1.003);
}

main .card .head {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
main .card .head__picture {
	width: 100%;
	height: 100px;
}

main .card .head__desc {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	background-color: var(--light-blue);
}

main .card .head__desc__link {
	text-decoration: none;
	color: black;
}

main .card .head__desc__button {
	display: flex;
	justify-content: space-between;
}

main .card .head__desc__button__name {
	background-color: #0C5FCD;
	width: 40%;
	padding: 5px;
	border-radius: 5px;
	color: white;
}

main .card .head h2 {
	font-size: 24px;
	font-weight: 600;
}
main .card .head p {
	font-size: 14px;
}

main .card .label {
	font-size: 14px;
	font-weight: 700;
}

main form {
	margin-top: 6px;
}

.container {
	display: grid;
}

main .item {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 15px;
	margin: 10px 0px 10px 0px;
	border-radius: 15px;
	background-color: var(--light-blue);
	border: 1px solid var(--dark-blue);
}

main .item__image {
	width: 150px;
}

main .item__text {
	font-size: larger;
	text-align: left;
}

main .item__delete {
	text-align: center;
}

main .footer {
	display: flex;
	justify-content: space-between;
}

main .footer__button {
	display: flex;
	justify-content: space-between;
	background-color: #0C5FCD;
	padding: 5px;
	border-radius: 5px;
}

main .small {
	height: 20%;
}

main .footer__button__text {
	display: flex;
	align-items: center;
	color: white;
}

main .footer__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
	padding: 15px;
	background-color: var(--light-blue);
	border-radius: 10px;
}

main .footer__right__text {
	display: flex;
	flex-direction: column;
}

main .button:target ~ main .item {
	display: none;
}

@media screen and (max-width: 500px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}

@media (max-width :1280px) {
	main .item--down {
		grid-template-columns: 100%;
	}
}